@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600;700&display=swap');

body{
    margin-top: 0px;
    margin-left: 0px;
    background-color: #5b6b7a;
}

.left{
    position: absolute;
    background-color: #e6e6e6;    
    width: 300px;
    height: 670px;
    overflow: scroll;
}

.top-left{
    position: relative;  
    height: 50px;
    background-color:#3b4a59;
}

.description{
    position: relative;
    left: 15px;
    display: table-cell;
    height: inherit;
    vertical-align: middle;
    color: #f8f8f8;
    font-size: 18px;
    font-weight: 400;
    font-family: 'Maven Pro', sans-serif;
}

.top-middle{
    position: relative;
    height: 50px;
    margin-left: 300px;
}

#logo{
    position: relative;   
    height: 50px;
    background-color: #2a3948;
}

.icons{
    position: relative;  
    width: 22px;
    float: right;
    margin: 13px 10px 0px 0px;
    cursor: pointer;

}

section{
    margin-top: -16px;
    margin-left: -40px;
}

ul.room-list > li{
    position: relative;  
    list-style-type: none;
    border-bottom: 1px solid rgb(184, 184, 184);
}

.delete-room{
    position: relative;
    float: right;
    border: none;
    background-color: inherit;
    margin-top: -55px;
    cursor: pointer;
}


.delete-icon{
    position: relative;
    width: 15px;
}

.room-name{
    color: #7b8a9b;
}

.selected{
    color: #1ca5ec;
    background: linear-gradient(to right, #1ca5ec 15px, transparent 10px);
}

.room{
    padding-left: 90px;
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Maven Pro', sans-serif;
    cursor: default;
    margin-left: -50px;
    width: 100%;
    height: 40px;
}

.chat{
    position: relative;
    background-color: #ffffff;
    margin-left: 300px;
    width: 865px;
    height: 500px;
    border: 1px solid lightgray;
    background: linear-gradient(to right, #f8f8f8 184px, lightgray 186px, #ffffff 100px);
    overflow: scroll;
}


table{
    border-collapse: collapse;
}


th{
    position: relative;
    display: table-cell;
    vertical-align: top;
    border-bottom: dotted lightgray 1px;
    /* border-right: 1px solid lightgray; */
    background-color: #f8f8f8;
    width: 202px;
    height: 35px;
    font-size: 13px;
    font-weight: 600;
    font-family: 'Maven Pro', sans-serif;
    color: #3a4a59;
    text-align: right;
    padding: 5px 6px 0px 0px;
}


td.message-content{
    position: relative;
    display: table-cell;
    vertical-align: top;
    border-bottom: dotted lightgray 1px;
    width: 700px;
    font-family: 'Maven Pro', sans-serif;
    color: #3a4a59;
    font-size: 13px;
    text-align: left;
    padding: 5px 0px 0px 10px;
}

td.sent-time{
    position: relative;
    display: table-cell;
    border-bottom: dotted lightgray 1px;
    font-family: 'Maven Pro', sans-serif;
    color: rgb(181, 181, 181);
    font-size: 10px;
    width: 75px;
    text-align: right;
    vertical-align: top;
    padding-right: 5px;
}

.top-right{
    position: absolute;
    border-left: solid lightgray 1px;
    margin-left: 1165px;
    margin-top: -502px;
    width: 275px;
    height: 620px;
    background-color: #eaeaea;
}

ul.user-list{
    border-top: 1px solid lightgray;
    position: relative;
    margin-left: -40px;
    margin-top: 0px;
    list-style-type: none;
}

ul.user-list > li{
    position: relative;
    border-right: 1px solid rgb(172, 172, 172);
    border-bottom: 1px solid lightgray;
    height: 10px;
    padding: 10px 0px 20px 20px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #f8f8f8;

}

.owner{
    color: #9dd35f;
}

.admin{
    color: #f3919f;
}

.manager{
    color: #f98138
}

.add-user-button{
    position: relative;  
    width: 20px;
    float: right;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
    z-index: 1000;
    display: none;
}



.message{
    position: absolute;
    background-color: #f3f3f3;
    margin-left: 300px;
    width: 865px;
    height: 118px;
}

.refresh-div{
    background-color: #eeeeee;
    margin-left: 40px;
    height: 30px;
    border-bottom: 1px solid lightgray;
    border-left: 1px solid lightgray;
}

.refresh-button{
    float: right;
    border: none;
    margin: 3px 5px 0px 0px;
    cursor: pointer;
}

.refresh-icon{
    position: relative;  
    width: 20px;
}

.chat-icon{
    position: relative;  
    width: 25px;
    float: left;
    margin: 2px 0px 0px 8px;
}

.top-right-icons{
    position: relative;
    width: 25px;
    cursor: pointer;
}

div.top-middle > button{
    position: relative;
    background-color: #657686;
    border: none;
    border-left: 1px solid #555c63;
    height: 50px;
    width: 55px;
    margin-top: -50px;
    float: right;
    cursor: pointer;

}

.chat-green-button{
    left: 10px;
    
}

.flash-button{
    left:-45px
}

.search-button{
    left: -100px;
}

textarea::placeholder{
    font-size: 15px;
    color: rgb(157, 157, 157);
    font-family: 'Maven Pro', sans-serif;
}

textarea{
    border: 1px solid lightgray;
    border-right: none;
    margin-top: 10px;
    margin-left: 5px;
    width: 720px;
    height: 60px;
    font-size: 15px;
    color: rgb(116, 116, 116);
    font-family: 'Maven Pro', sans-serif;
    resize: none;
    padding: 5px 0px 0px 5px;
    
}

.send-message{
    border: none;
    border-left: solid lightgray 1px;
    float: right;
    height: 87px;
    width: 80px;
    font-size: 17px;
    font-weight: 700;
    color: rgb(174, 174, 174);
    font-family: 'Maven Pro', sans-serif;
    cursor: pointer;
}

.box-button{
    position: relative;
    border: none;
    border-left: solid lightgray 1px;
    float: right;
    height: 87px;
    cursor: pointer;
}

.box{
    width: 40px;
}

.page-mask {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: rgba(0,0,0,0.6);
    z-index: 90;
    /* display: none; */
}


.login-popup{
    background-color: #eeeeee;
    position: fixed;
    width: 350px;
    left: 40%;
    right: 40%;
    bottom: 30%;
    top: 20%;
    border: solid 1px gray;
    z-index: 100;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
}

.popup{
    background-color: #eeeeee;
    position: fixed;
    width: 350px;
    left: 40%;
    right: 40%;
    bottom: 40%;
    top: 20%;
    border: solid 1px gray;
    z-index: 100;
    text-align: center;
    font-family: 'Maven Pro', sans-serif;
    display: none;
}

.popup-heading{
    padding-top: 15px;
    display: block;
    background-color: #f8f9f9;
    width: 350px;
    height: 50px;
    color: #303030;
    font-size: 27px;
    font-weight: 500;
}

form.new{
    margin-top: 40px;
}

form > input, form > * > input{
    margin: 5px;
    padding: 10px;
    width: 250px;
    border: 1px solid gray;
}

form > input::placeholder, form > * > input::placeholder{
    font-family: 'Maven Pro', sans-serif;
    color: rgb(191, 191, 191);
    font-size: 15px;
}

div.buttons{
    background-color: #f8f8f8;
    padding: 15px;
    height: 40px;
    margin-top: 25px;
    border-top: 1px solid gray;
    bottom: 40%;
}

form.login-form > input[type=button]{
    background-color: #f8f8f8;
    border-left: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    color: rgb(79, 79, 79);
    width: 51%;
    padding: 20px;
    margin-right: -5px;
    margin-left: -5px;
    margin-top: -40px;
    margin-bottom: 60px;
}

.signup{
    margin-top: -80px;
}

div.buttons > button{
    background-color: #666666;
    padding: 10px;
    margin-right: 10px;
    margin-top: 2.5px;
    border: none;
    color: white;
}

.error {
    position: relative;
    animation: shake .1s linear;
    animation-iteration-count: 3;
    border: 1px solid red;
}

@keyframes shake {
    0% { left: -5px; }
    100% { right: -5px; }
}

label{
    font-family: 'Maven Pro', sans-serif;
    font-size: 16px;
}

